<form action="/upload" method="POST" enctype="multipart/form-data">
  <div>
    <label for="fieldName">Name: </label>
    <input type="text" id="fieldName" name="name">
  </div>
  <div>
    <label for="fieldImage">Image: </label>
    <input type="file" id="fieldImage" name="image" accept="image/*">
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>
