{{# section 'head'}}
  <!-- we want Google to ignore this page -->
  <meta name="robots" content="noindex">
{{/section}}

<h1>Test page</h1>
<p> testing some jquery stuff</p>


{{# section 'jquery'}}
  <script>
    $('document').ready(function(){
      $('h1').html('jquery works');
    });
  </script>
{{/section}}
