<form action="/contest/vacation-photo/{year}/{month}" method="post" enctype="multipart/form-data">
  Your email: <input name="email" type="email" required><br>
  Your vacation photo: <input name="photo" type="file" accept="image/*" required><br>
  <button type="submit">Submit</button>
</form>


